* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid black;
    background-color: #ffffff;
}

.canvas-container {
    text-align: center;
    background-color: lightblue;
    margin: 5px auto;
    width: 450px;
    height: 450px;
    border: 1px solid red;
    border-radius: 15px;
}

.show {
    display: none;
}

#color-tool, #bcolor-tool {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 12em;
    width: 12em;
    background-color: orange;
    border-radius: 50%;
    border: none;
    padding: 3em;
    color: #0000ff
}
