* {
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: Montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf)
}
@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat-ExtraBold.ttf)
}

html {
    font-family: Montserrat-regular;
}

body {
    margin: 0;

}

h1 {
    font-family: Montserrat-bold;
}

button {
    outline: none;
    font-family: Motserrat-regular;
}


canvas {
    display: block;
    margin: 10px auto;
    border: 1px solid black;
    background-color: #ffffff;
}

.canvas-container {
    text-align: center;
    
    margin: 5px auto;
    width: 450px;
    height: 450px;
    border: 1px solid red;
    border-radius: 15px;
}

/* .show {
    display: none;
} */

#color-tool, #bcolor-tool {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 12em;
    width: 12em;
    background-color: orange;
    border-radius: 50%;
    border: none;
    padding: 3em;
    color: #0000ff
}

.container {
    padding: 15px;
    background-color: #e3e3e3;
}

.main-nav {
    margin-inline-end: 20px;
}

.main-nav button {
    font-size: 1.187rem;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
}
.main-nav button:active {
    box-shadow: inset 0px -4px #040a2c;
    color: #040a2c;
}

.main-nav button:hover {
    color: #040a2c;
}


 .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 20px;
    justify-content: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    background-color: #ff7f00;
}

.logo {
   
        margin: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.meme {

    height: 200px;
    overflow: hidden;

} 



.navbar button {
    background-color: #ff7f00;
    color: #ffffff;
    height: 66px;
    border: none;
    outline: none;
}

.ad-container {
    display: flex;
    height: 775px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}



 .ad-center{
    display: flex;

   

}

.ad-img-container {
    display: flex;
    flex-direction: row;
   min-height: 322px;
min-width: 322px;
    padding: 35px;
}

.ad-img {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.ad-plot {
    height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
   align-items: start;
}

.social-container {
    height: 60px;
   

} 



.footer-container {
    display: flex;
    height: 207px;
    background-color: #ff7f00;
    justify-content: center;
    align-items: center;
}


.center-footer {
    color: #ffffff;
    
}

.mobile-menu {
    display: none;
}
.mobile-menu-x {
    display: none;
}

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 66px;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}

.center-footer {
    text-align: center;
}




@media (max-width: 800px) {




    .mobile-menu {
        font-size: 25px;
        margin: 20px;
        display: inline-block;
        color: #ffffff;
    }
    


body.menu-open .mobile-menu {
    display: none;

}

body.menu-open .mobile-menu-x {
    font-size: 25px;
    margin: 20px;
    color: #ffffff;
    display: inline-block;
}

body.menu-open .screen {
    opacity: 1;
    visibility: visible;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    background-color: #ff7f00;
    opacity: 0.9;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s;
}

.main-nav button {
 margin: none;
    width: 100vh;
}

body.menu-open .main-nav {
    transform: scaleY(1) ;
}

.ad-img-container {
margin-top: 20px;
   height: 322px;
   width: 322px;

    padding: 15px;
}

.ad-container {
   
   max-height: 600px;
    background-color: #ffffff;
    justify-content: center;
    align-items: start;
}

.container {
    grid-gap: 10px;
}


 .ad-center {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ad-plot {
    justify-content: center;
    align-items: center;
}

}




